__pycache__/
*.py[cod]
*$py.class
*checkpoint*

*.swp
*.class
*.log
SparkBayes/.idea/libraries/*
SparkBayes/.idea/modules/*
SparkBayes/.idea/*
SparkBayes/project/target/*
SparkBayes/project/project
SparkBayes/target/*
SparkBayes/data/*
*.zplnb

